[Unit]
Description=CSYE 6225 Webapp
ConditionPathExists=/opt/webapp/app.js
Wants=network.target postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/node /opt/webapp/app.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target